@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Quicksand&display=swap");

:root {
  --font-primary: "Montserrat", sans-serif;
  --font-accent: "Quicksand", sans-serif;
}

* {
  box-sizing: border-box;
  font-family: var(--font-primary);
}

.form {
  max-width: 1000px;
  margin: auto;
}

.main-grid {
  display: grid;
}

#pseudonym {
  margin-bottom: 10px;
  font-size: 17px;
}

#title {
  font-size: 20px;
}

textarea {
  resize: none;
}

#submit-btn,
.back {
  max-width: 100px;
  margin: auto;
  margin-top: 10px;
}

.hidden {
  display: none;
}

.post-hide {
  display: none;
}
