@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Quicksand&display=swap');

:root {

    --text-primary: var(--primary);
    --text-secondary: var(--secondary);
    --text-accent:  var(--primary);
    --font-primary: 'Montserrat', sans-serif;
    --font-accent: 'Quicksand', sans-serif;;
   
}

* { box-sizing: border-box; }

html, body { 
    height: 100%;
    margin: 0;
    font-family: var(--font-primary);
}


body {
    display: grid;
    grid-template-rows: 5vh 90vh 5vh;
    position: fixed;
    width: 100vw;
    text-align: center;
}

main {
    padding: 10px 0;
    width: 100vw;
    max-height: 95vh;
    margin: 0 auto;
    grid-gap: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: -1;
    text-align: center;
}

button, input {
    border: none;
    margin: 10px;
    border-radius: 5px;
    padding: 5px 15px;
}


input { background-color: rgba(119, 129, 133, 0.4); }

#publishbutton {
    background-color: grey;
}




